body{
    margin: 0;
    padding: 2rem;
    background-color: aliceblue;
}

#menu{
    background-color: rgb(134, 122, 179); 
    border-radius: 10%;
}

#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

#menu ul li{
    display: inline-block;
}

#menu ul li a{
    color: whitesmoke;
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 10px;
}

#menu ul li a:hover{
    color: white;
    background-color: black;
    border-radius: 10%;
}

h1{
    text-align: center;
}

.color {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.color ul{
    list-style: none;
}

.formulario input, textarea, select {
    background-color: rgb(134, 122, 179);
    font-size: large;
}

hr {
    border-color: rgb(134, 122, 179);
    font-weight: 4px;
}

.text{
    font-family: Arial, Helvetica, sans-serif;
}

#formulario{
    display: flex;
    align-items: center;
    justify-content: center;
}